# Streamlit & Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.streamlit/
.venv/
venv/
env/

# VoxCraft Workspace
workspace/
*.mp3
*.wav
*.ogg
*.srt
*.mp4
*.json
*.zip
!project.json

# IDEs
.vscode/
.idea/
